t4/french/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252
t4/german/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252
t4/italian/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252
t4/korean/localizedstrings/plutonium.str text working-tree-encoding=EUC-KR
t4/polish/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1250
t4/russian/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1251
t4/spanish/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252

t5/french/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252
t5/german/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252
t5/italian/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252
t5/japanese/localizedstrings/plutonium.str text working-tree-encoding=SHIFT-JIS
t5/polish/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1250
t5/russian/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1251
t5/spanish/localizedstrings/plutonium.str text working-tree-encoding=WINDOWS-1252
